<%include file="HEADER.tmpl"/>
<div class="alert alert-danger">
<h4>${message}</h4>
<br><br>
<span data-translate="please_go_back">Please go back and try again. If you're pretty sure this is a bug, please contact your system administrator.</span>
</div>
<%include file="FOOTER.tmpl"/>
