    </div>
    <footer class="navbar-default navbar-fixed-bottom" style="text-align: center;">
      <div class="container-fluid footer" style="display: flex; justify-content: center; align-items: center; text-align: center; width: 100%;">
        <span data-translate="footer_text" style="display: inline-block; width: 100%; text-align: center;">&copy; 2026 Advanced Analytical Junction. All rights reserved.</span>
      </div>
    </footer>

    </body>
</html>
